<nav class="navbar navbar-dark bg-info  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DEEPTI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'category' %}">Medicines</a>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/logout">Logout</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About us</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact us</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'add' %}">Cart</a>
        </li>
    
      </ul>
    </div>
  </div>
</nav>












<!--old nav-->

